.bg-grey-lighter.h-screen.wp-font.antialiased
  .flex.justify-between.md_flex-row.border-b-2.border-grey-light.mx-16.py-8.items-center.flex-col 
    a.md_mb-0.mb-4
      img(src='../assets/wp-logo.png')
    .flex.flex-col.md_flex-row.text-sm.font-bold
      .md_mb-0.mb-2.ml-0.md_ml-10 
        a.text-black.hover_text-grey-darker(href='#') Download 

      .md_mb-0.mb-2.ml-0.md_ml-10 
        a.text-black.hover_text-grey-darker(href='#') Learn More 

      .md_mb-0.mb-2.ml-0.md_ml-10 
        a.text-black.hover_text-grey-darker(href='#') Pricing 

      .md_mb-0.mb-8.ml-0.md_ml-10 
        a.text-black.hover_text-grey-darker(href='#') Help
      .md_mb-0.mb-2.ml-0.md_ml-10 
        a.border-solid.border-black.border-2.rounded-lg.hover_bg-black.hover_text-white.py-3.px-4.font-bold Account
  
  .mt-16.shadow-lg.mx-auto.flex.flex-col
    .bg-white
      .text-3xl.p-8.border-b.border-grey-light Checkout
      .p-8.flex.items-center.font-bold  
        .rounded-full.border-blue-dark.border-solid.border-2.py-2.px-3.text-blue-dark.mr-2 1    
        .text-lg Your Basic Information
        
    .bg-blue
      p Stugsgsgsgsg


