.bg-grey-lighter.h-screen.wp-font
  .flex.justify-between.items-center.md_flex-row.border-b-2.border-grey-light.mx-16.py-8 
    img(src='../assets/wp-logo.png')
    .flex.flex-col.md_flex-row.text-sm.font-bold
      .ml-0.md_ml-10 
        a.text-black.hover_text-grey-darker(href='#') Download 

      .ml-0.md_ml-10 
        a.text-black.hover_text-grey-darker(href='#') Learn More 

      .ml-0.md_ml-10 
        a.text-black.hover_text-grey-darker(href='#') Pricing 

      .ml-0.md_ml-10 
        a.text-black.hover_text-grey-darker(href='#') Help
      .ml-0.md_ml-10 
        a.border-solid.border-black.border-2.rounded-lg.hover_bg-black.hover_text-white.py-3.px-4.font-bold Account




